#mainAppointment{
    padding: 25px 25px;
}
input{
    max-width: 175px;
}
select{
    max-width: 150px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#containerAppointment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    
}
#details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#appointmentList{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 10px;;
}
#addAppointment{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#cancelAppointment{
    display: flex;
    justify-content: space-between;
}
#appointmentListButton{
    cursor: pointer;
}
.hideBookedAppointment{
    display: none;
}

@media (min-width:375px){
    #containerAppointment{
        grid-template-columns: 1fr;
    }
    #appointmentList{
        grid-row: 1;
    }
}
@media (min-width:768px){
     #containerAppointment{
        grid-template-columns: 1fr 1fr;
    }
    #appointmentList{
        grid-column: 2;
    }
}
@media (min-width:1400px){
    #mainAppointment{
        padding: 25px 100px;
    }
}
@media (min-width:1600px){
    #mainAppointment{
        padding: 25px 200px;
    }
}
@media (min-width:1920px){
    #mainAppointment{
        padding: 25px 300px;
    }
}