input{
    max-width: 175px;
}
select{
    max-width: 150px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#containerAppointment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px 25px;
    
}
#appointmentList{
    grid-row: span 2;
}
#addAppointment{
    flex-direction: column;
}